* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  margin-top: 100px;
  scroll-behavior: smooth;
  background: rgb(61, 164, 189);
  background: linear-gradient(
    103deg,
    rgba(61, 164, 189, 1) 0%,
    rgba(121, 9, 98, 1) 44%,
    rgba(191, 65, 240, 1) 100%
  );
  min-height: 100vh;
}

form {
  border: 2px solid white;
  background-color: white;
  margin-top: 100px;
  justify-content: center;
  justify-items: center;
  height: auto;
  width: auto;
}

.gap-md {
  gap: 16px;
}

.center-wrapper {
  max-width: 800px;
  max-height: fit-content;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 4rem;
}

.form-grid {
  display: grid;
  grid-auto-flow: row;
}

label {
  color: red;
  font-size: 2rem;
}

form {
  border-radius: 15%;
}

button {
  height: 50px;
  width: 400px;
  border-radius: 10px;
  justify-self: center;
  background: rgb(61, 164, 189);
  background: linear-gradient(
    103deg,
    rgba(61, 164, 189, 1) 0%,
    rgba(121, 9, 98, 1) 44%,
    rgba(191, 65, 240, 1) 100%
  );
  color: white;
  margin-bottom: 20px;
  font-size: 2rem;
}

input {
  font-size: 1.5rem;
}
